.cartTitle{
  text-align:center;
  margin:50px;
}

.simpleCart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #009dff;
  border-radius: 10px;
  width: 100%;
}

.simpleCart>img{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.simpleCart>button{
  background-image: url("/public/images/remove.png");
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: transparent;
  border: none;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 2;
}

.total{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin:50px;
  gap: 15px;
}

.checkout{
  height: 40px;
  width: 200px;
}
.keepShoping{
  height: 40px;
  width: 150px;
}  

.checkout,
.keepShoping{
  border-radius: 30px;
  border: 1px solid #009dff;
  background-color: white;
  box-shadow: #009dff 5px 5px 0px;
  transition: 0.1s;
  color: black;
  text-align: center;
}

.checkout:hover,
.keepShoping:hover{
  box-shadow: #009dff 10px 10px 0px;
}

.checkout:active,
.keepShoping:active{
  background-color: gold;
}

.cart{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
}
.cart>div{
  width: 100%;
  display: flex;
  justify-content: space-around;
}